.matched-data-container {
  padding: 20px;
  background-color: #e4e4e4;
  height: 100vh;
  overflow: scroll;
}

.matched-data-table {
  width: 100%;
  border-collapse: collapse;
}

.matched-data-table th,
.matched-data-table td {
  border: 1px solid #614b4b;
  padding: 8px;
}

.matched-data-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.giver-details,
.taker-details {
  display: flex;
  flex-direction: column;
}

.giver-details p,
.taker-details p {
  margin: 0;
  padding: 2px 0;
}

strong {
  color: #333;
}
