.taker-detailss {
    margin: 20px 0;
    width: 100%;
  }
  
  .taker-detailss table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .taker-detailss th, .taker-detailss td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .taker-detailss th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .taker-detailss tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .taker-detailss tr:hover {
    background-color: #ddd;
  }
  